<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kupurui.cjhp">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Required推送权限 -->
    <permission
        android:name="com.kupurui.cjhp.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.kupurui.cjhp.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/imgv_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 账号登陆页-->
        <activity
            android:name="com.kupurui.cjhp.ui.login.SplashAty"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--账号登陆-->
        <activity
            android:name="com.kupurui.cjhp.ui.login.LoginAccountLoginAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            </activity>
        <!-- 绑定邮箱-->
        <activity
            android:name=".ui.login.LoginBindMailboxAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 绑定邮箱验证码-->
        <activity
            android:name=".ui.login.LoginBindMailboxCodeAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 首页-->
        <activity
            android:name=".ui.index.IndexAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="jpush.testAction" />
                <category android:name="jpush.testCategory" />
            </intent-filter>
        </activity>
        <!-- 通知公告-->
        <activity
            android:name=".ui.index.IndexNoticeAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 公告-->
        <activity
            android:name=".ui.notice.NoticeOrangeAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 通知-->
        <activity
            android:name=".ui.notice.NoticeRedAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 通知公告详情-->
        <activity
            android:name=".ui.notice.NoticeOrangeMessageAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 密保邮箱-->
        <activity
            android:name=".ui.mine.MineMailboxAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 密保邮箱更改-->
        <activity
            android:name=".ui.mailbox.MailboxSecurityMailboxAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 密保邮箱更改验证码-->
        <activity
            android:name=".ui.mailbox.MailboxCodeAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 绑定新邮箱-->
        <activity
            android:name=".ui.mailbox.MailboxBindNewMailboxAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 绑定新邮箱验证码-->
        <activity
            android:name=".ui.mailbox.MailboxBindNewMailboxCodeAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 我的账单-->
        <activity
            android:name=".ui.index.IndexBillAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 报事报修-->
        <activity
            android:name=".ui.index.IndexPostitAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 投诉建议-->
        <activity
            android:name=".ui.index.IndexComplaintAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 修改密码-->
        <activity
            android:name=".ui.mine.MineModifyPasswordAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 手势密码-->
        <activity
            android:name=".ui.mine.MineGesturePasswordAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity
            android:name=".ui.gesture.GestureAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 绘制手势密码-->
        <activity
            android:name=".ui.gesture.GesturePaintPasswordAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 修改密码-->
        <activity
            android:name=".ui.gesture.GestureModifyPasswordAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 忘记手势密码-->
        <activity
            android:name=".ui.gesture.GestureForgetPasswordAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 忘记密码-->
        <activity
            android:name=".ui.login.LoginForgetPasswordAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity
            android:name=".ui.login.LoginForgetPasswordCodeAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 密码重置-->
        <activity
            android:name=".ui.login.LoginPasswordResetAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 手势登录-->
        <activity
            android:name=".ui.login.LoginGestureLoginAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 已处理详情-->
        <activity
            android:name=".ui.postit.PsotitAlreadyTreatmentAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 写评论-->
        <activity
            android:name=".ui.postit.PostitWriteCommentsAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <!-- 我的账单明细-->
        <activity
            android:name=".ui.bill.BillDetailedAty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>
        <activity android:name=".ui.PhotoViewAty"/><!-- 放大图片-->


        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false">
        </activity>
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.kupurui.cjhp" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.kupurui.cjhp" />
            </intent-filter>

        </service>
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.kupurui.cjhp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.kupurui.cjhp.jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.kupurui.cjhp" />
            </intent-filter>
        </receiver>



        <!--蒲公英异常捕捉-->
        <!-- 可选-->
        <activity android:name="com.pgyersdk.activity.FeedbackActivity" />
        <!-- 必选-->
        <meta-data
            android:name="PGYER_APPID"
            android:value="0088402fcd971edc5b5782498c4eac17"></meta-data>

    </application>

</manifest>
